*{
  font-family: 'Playfair Display', serif;
  box-sizing: borde-box;
}
body {
    font-size: 10pt;
    background-color: skyblue;
    /**
    background-image:url("imagen.jpg");
    background-repeat:no-repeat;
    background-position:right top;
    */
}
h1{
  text-align:center;
  color:white;
  margin-left: 40px;
  font-size: 20pt;
}
#contenedor {background-color: violet;}
#cabecera {background-color: red;}
#contenido {background-color: yellow;}

contenedor{background-color:red;}
